OAuth: Augment 401 `WWW-Authenticate` header with `resource_metadata` URL

When a request for a resource protected by `oidcConnectClient` and OAuth 2.0 is rejected with a 401 response code, the `WWW-Authenticate` header in the response should include the `resource_metadata` URL, as described in [RFC 9728](https://datatracker.ietf.org/doc/html/rfc9728#name-www-authenticate-response).

- The header should only be added if serving protected resource metadata is enabled
- The header should be added by the `oidcConnectClient` feature, regardless of what the protected resource is

**Remember**: any changes or additions to GA features must be behind a [beta fence](https://github.com/OpenLiberty/open-liberty/wiki/Beta-Fencing)

## Implementation Summary
- `OAuth20ProviderUtils.handleOAuthChallenge()`: Modified to include `resourceMetadataUrl` parameter in WWW-Authenticate header. This is on and it is not necessary to have any beta-fenced restriction on the augmentation of the header. 
- `OidcClientImpl.handleOauthChallenge()`: Enhanced to derive and pass resource_metadata URL. This is where the restriction based on the corresponding config property ( #34723 ) from the oidclient configuration is applied.

N.B. 
1. We need to ensure that the construction of the resource_metadata url matches the one that is generated and used on MCP-side. 
2.  Additionally we need to ensure that we are compliant with the spec, especially when there are more than one configurations for different endpoints. 

## Testing Coverage
### Unit Tests
- `OAuth20ProviderUtilsTest`: Tests header formatting with/without resource_metadata
- `OidcClientImplTest`: Tests URL derivation logic

### Integration Tests

OIDC FAT Tests (com.ibm.ws.security.oidc.client_fat.1)
- `OidcClientResourceMetadataEnabledTest`
- `OidcClientResourceMetadataDisabledTest`

Test 1: testWWWAuthenticateHeader_WithResourceMetadata_DisabledOnConfig()
- [x] Asserts 401 response code
- [x] Asserts WWW-Authenticate header presence
- [x] Asserts "Bearer" in header
- [x] Asserts NOT retrieving "resource_metadata=" element on header as the server is not beta-fenced

Test 2: testWWWAuthenticateHeader_WithResourceMetadata_EnabledOnConfig()
- [x] Asserts 401 response code
- [x] Asserts WWW-Authenticate header presence
- [x] Asserts "Bearer" in header
- [x] Asserts "resource_metadata=" element in header
- [x] Asserts "/.well-known/oauth-protected-resource" in URL

Reconfiguring the server did not work as expected. Thus, I had to extract to extract the test methods on their own test classes. 
Each class is using a new, bespoke server that has multiple configurations.
1. a `server.xml` that enables the protected resource metadata using the corresponding property on the oidcConnectClient
2. a `server.xml` where that property is missing - thus the protected resource metadata should not be served

This server has been specified to be [beta-fenced](https://github.com/OpenLiberty/open-liberty/wiki/Beta-Fencing#running-fat-tests-with-beta-fenced-method) with a `jvm.options` file.

Following our recent discussion with @Azquelt with regard to the algorithm for generating WWW-Authenticate header, I am writing down the proposal for implementation: 
 
1. Get openIdConnectClient that's in use. 
2. Access its `authFilterRef` element to get the corresponding `authFilter` that has the same ID
    i.e.
<img width="913" height="406" alt="Image" src="https://github.com/user-attachments/assets/8124d36a-1dff-4fc4-82f8-5b07552bfb40" />
 
4. If `authFilter` has a `requestUrl` prefix, use that instead of request URI
5. Note that the `requestUrl` can also have a [piped list](https://www.ibm.com/docs/en/was-liberty/core?topic=liberty-authentication-filters) of URL patterns 
6. In case the requestURI does not match to any of the pipe listed options, use the first as a fallback.
7. If `authFilter` does not have a `requestUrl` prefix, use the entire path of the request URI
8. To construct the URL, insert the `/.well-known/oauth-protected-resource/` bit between authority (host) and path

With regard to the construction of the resource metadata URL:

### What we know so far
1. Based on [rfc9728](https://www.rfc-editor.org/rfc/rfc9728.html#name-protected-resource-metadata-), if the resource identifier value contains a path or query component, any terminating slash (/) following the host component MUST be removed before inserting the well-known URI path suffix between the host component and the path and/or query components. 

That results to a format: `<scheme>://<host>:<port>/.well-known/oauth-protected-resource<path>`

2. Based on the [configuration](https://openliberty.io/docs/latest/reference/config/authFilter.html) of the oidcConnectClient, there is an **non-mandatory** `authFilterRef` element that specifies the authentication filter reference to the top level `authFilter` element of the server configuration. The authentication filter determines whether certain HTTP servlet requests are processed by certain providers.

3. Based on the Authentication Filter (authFilter) [spec](https://openliberty.io/docs/latest/reference/config/authFilter.html) on server configuration, a selection rule that represents conditions that are matched against the HTTP request headers can be specified. 
The corresponding element in this config that is responsible for specifying the condition(s) is the `requestUrl` and specifically the  `urlPattern` sub-element. An authFilter can contain **multiple** requestUrls.

4. The `urlPattern` mainly accepts a String as a value with that condition. 
5. When the value for the `matchType` attribute is notContain or contains, the filter supports a piped list of values as urlPattern.

### What we need to confirm/answer
1. Which is the proper way to define the `<path>` suffix in the generation of the resource metadata URL? 

Given a request like: http://myserver.org:9080/myApp/foo/bar/baz, and some liberty config, how do we work out what the resource identifier should be.

The protected resource metadata RFC [defines "Resource identifier"](https://www.rfc-editor.org/rfc/rfc9728.html#name-terminology) as "the protected resource's resource identifier" and references [RFC8707 section 2](https://www.rfc-editor.org/rfc/rfc8707.html#name-resource-parameter) which is talking about resource identifiers in terms of requests from the client to the auth server and includes the information:

```
The client SHOULD provide the most specific URI that it can for the complete API or set of resources it intends to access.
```

With the value we return for this header, we're essentially telling the client "this is the base URI for the resource you're trying to access". This is the URI you should use when you make a request to the auth server.
This could be any of:

• `http://myserver.org:9080/myApp/foo/bar/baz`
• `http://myserver.org:9080/myApp/foo/bar/`
• `http://myserver.org:9080/myApp/foo/`
• `http://myserver.org:9080/myApp/`
• `http://myserver.org:9080/`


In terms of how we could choose:

2. Should we look up at the authFilter for the condition and compare against the request URI (see previous comment with the proposed algorithm)?
3. How should we deal with cases where there are more than one `requestUrl` specified?
4. How should we deal with cases where the `urlPattern` contains a piped list?
5. Note that currently, the `com.ibm.ws.security.authentication.filter.internal` package is marked as private in the authentication filter bundle.  We will need to export the internal package, allowing the OIDC client to resolve its dependency at runtime. Is there any limitation that would restrict as from doing so?
6. More details on the proposed algorithm on the previous comment. 

I guess one option would be to repeatedly try removing the trailing portion of the URL until it no longer matches the same oidc configuration.

The other fallback option would be to always use the path the user requested and never try to find a "better" base URI.

@ayoho do you have any thoughts on how we should do this?

One bit of feedback we got was that we could start at the beginning of the URL to avoid a client giving us a very long URL and forcing us to do lots of lookups.

So let's go with this:

- Given the URL requested, find the relevant auth filter
- Then, remove the path from the URL and find the auth filter for that URL
  - if they're the same, use that as the base URI
  - otherwise, add one path segment from the original request back onto the URL and repeat until you get the same auth filter as the original request

Hi @TheoGkoumas, please see my latest review of the code [here](https://github.com/OpenLiberty/open-liberty/pull/34978#pullrequestreview-4665213013)

I then asked @jimmy1wu to give a additional comments which you can find [here](https://github.com/OpenLiberty/open-liberty/pull/34978#pullrequestreview-4667094381).

@TheoGkoumas regarding the review of your code above.
My initial analysis brings me to believe that the following is happening in your FAT test:

<img width="947" height="336" alt="Image" src="https://github.com/user-attachments/assets/48f4514b-ae26-4fa2-bb5d-17b48e8a235a" />

**This is the most likely reasons why the test is returning a 401:**
- The openidConnectClient filter on that RP server intercepts the request. It checks the configured scope, sees it is profile (not openid), and immediately rejects the request locally with a 401
OR
- there is no openid scope and this is sent to an authorization server which expects an openid scope and a 401 is sent back for failed authentication.

**What we should be expecting to see instead is:**
- That the RS (Resource server correctly configured) should be returning a 401 with the correct header and not communicating with the authorisation server (we should check that there is no authorisation server communication)

- There should also be a case tested where if the correct access token is presented then we should allow access to the resource.

The expected flow would look something like this:
<img width="923" height="315" alt="Image" src="https://github.com/user-attachments/assets/aad4d735-670e-4527-bd16-9f808a2cbf02" />

Adam Yoho suggested taking a look at the generated test output to understand exactly what the test did - making sure you invoked the right endpoints and that the correct values were being validated against etc.

@martindrozdz thanks for your review. 

The tests have been restructured accordingly to address the expected logic. 
For the implementation, please see the corresponding PR.

In terms of the your suggestion on an additional test case:
_"There should also be a case tested where if the correct access token is presented then we should allow access to the resource"_
this cannot be applicable here, by the time we have now moved the test under the noOP package (for tests that do not require OP/AS).
A valid-token test is fundamentally incompatible with the noOP pattern where no Authorization Server process runs.

Thus it will not be included in the current PR.