LDAP registry returns error code 21 when updating boolean values

When updating a boolean value on a user or group through SCIM, the LDAP registry may return an error code 21 indicating that the syntax for the boolean attribute's value is invalid. This occurs due to the LDAP registry sending the toString() of the boolean value, which in Java, is lower-case. Some servers (OpenLDAP, Micorosoft Active Directory, among others) don't properly handle these values according to RFC 4517, section 3.3.3, where the ABNF is:

> Boolean = "TRUE" / "FALSE"

ABNF literal strings are defined as case-insensitive. The code has been update to always send the upper-case value instead of the lower-case value as it is most likely that LDAP servers are using the upper-case values to validate the syntax if they are applying any case-sensitivity to syntax validation.

The error returned by SCIM may look like this in OpenLDAP:

```
{
    "Errors": [
        {
            "description": "com.ibm.wsspi.security.wim.exception.WIMSystemException: CWIML4520E: The LDAP operation could not be completed. The LDAP naming exception javax.naming.directory.InvalidAttributeValueException: [LDAP: error code 21 - isOperator: value #0 invalid per syntax]; remaining name 'uid=user1,ou=users,dc=rtp,dc=raleigh,dc=ibm,dc=com'; resolved object com.sun.jndi.ldap.LdapCtx@74dcf364 occurred during processing.",
            "code": "500"
        }
    ]
}
```

The error returned by SCIM may look like this in Microsoft Active Directory:

```
{
    "Errors": [
        {
            "description": "com.ibm.wsspi.security.wim.exception.WIMSystemException: CWIML4520E: The LDAP operation could not be completed. The LDAP naming exception javax.naming.directory.InvalidAttributeValueException: [LDAP: error code 21 - 00000057: LdapErr: DSID-0C090D50, comment: Error in attribute conversion operation, data 0, v2580\u0000]; remaining name 'CN=user1,CN=Users,DC=vmm,DC=com'; resolved object com.sun.jndi.ldap.LdapCtx@7f5f2483 occurred during processing.",
            "code": "500"
        }
    ]
}
```