Change default behavior to not close keepalive sockets on responses with codes 400, 402-417, or 500-505

Liberty closes an HTTP keepalive connection if the response code is [400, 402-417, or 500-505](https://github.com/OpenLiberty/open-liberty/blob/gm-21.0.0.3/dev/com.ibm.ws.transport.http/src/com/ibm/ws/http/channel/internal/inbound/HttpInboundServiceContextImpl.java#L193) (any [StatusCodes instance with the third parameter set to `true`](https://github.com/OpenLiberty/open-liberty/blob/gm-21.0.0.3/dev/com.ibm.ws.transport.http/src/com/ibm/wsspi/http/channel/values/StatusCodes.java)). In my opinion, although these are logically HTTP error codes, they are valid HTTP responses, they don't affect the underlying stability of the TCP socket, and they seem to wastefully kill pooled connections. This is a more obscure performance use case, but sometimes app updates are rolled out that have more errors and that may lead to unnecessary performance investigations, or questions about sockets in `CLOSE_WAIT` and `TIME_WAIT` (as has happened). In addition, the specification for Bean Validation purposely says to return a 400 when a parameter doesn't pass validation.

I propose changing the default behavior to not close keepalive sockets on responses with codes 400, 402-417, or 500-505.

HTTP 1.1 RFCs:

* [RFC 7230](https://tools.ietf.org/html/rfc7230)
* [RFC 7231](https://tools.ietf.org/html/rfc7231)
* [RFC 7232](https://tools.ietf.org/html/rfc7232)
* [RFC 7233](https://tools.ietf.org/html/rfc7233)
* [RFC 7234](https://tools.ietf.org/html/rfc7234)
* [RFC 7235](https://tools.ietf.org/html/rfc7235)

The design issues call consensus was to keep the existing behavior if such a response is sent back as part of processing in the HTTP channel but once the request is dispatched out of the HTTP stack (e.g. into WebContainer), then such a response code should not close the keepalive connection.

Related: https://cloud-platform.ideas.ibm.com/ideas/LIBERTY-I-92