Servlet 6.0: Deprecated wrapped response handling in the doHead method in favour of container implementation of HEAD method behavior.

Spec issue: `https://github.com/eclipse-ee4j/servlet-api/issues/225`

See "Appendix A: Change Log" here: https://github.com/eclipse-ee4j/servlet-api/blob/master/spec/src/main/asciidoc/servlet-spec-body.adoc

Issues #[225](https://github.com/eclipse-ee4j/servlet-api/issues/225) refers to 

https://www.rfc-editor.org/rfc/rfc7231#section-4.3.2

which states that 

```
The HEAD method is identical to GET except that the server MUST NOT
   send a message body in the response (i.e., the response terminates at
   the end of the header section).  The server SHOULD send the same
   header fields in response to a HEAD request as it would have sent if
   the request had been a GET, except that the payload header fields
   (Section 3.3) MAY be omitted.  This method can be used for obtaining
   metadata about the selected representation without transferring the
   representation data and is often used for testing hypertext links for
   validity, accessibility, and recent modification
```

This particular sentence:

 `The server SHOULD send the same
   header fields in response to a HEAD request as it would have sent if
   the request had been a GET, except that the payload header fields
   (Section 3.3) MAY be omitted.`

Section 3.3 
https://www.rfc-editor.org/rfc/rfc7231#section-3.3

define the "payload header fields" as:

```
 Header fields that specifically describe the payload, rather than the
   associated representation, are referred to as "payload header
   fields".  Payload header fields are defined in other parts of this
   specification, due to their impact on message parsing.

   +-------------------+----------------------------+
   | Header Field Name | Defined in...              |
   +-------------------+----------------------------+
   | Content-Length    | Section 3.3.2 of [RFC7230] |
   | Content-Range     | Section 4.2 of [RFC7233]   |
   | Trailer           | Section 4.4 of [RFC7230]   |
   | Transfer-Encoding | Section 3.3.1 of [RFC7230] |
   +-------------------+----------------------------+
```
Transfer-Encoding is "payload header field" which MAY be obmitted.

The tck test is checking that GET and HEAD have the same response's headers, including the optional "payload header" Transfer-Encoding: chunked.

Test GET responses:
```
< HTTP/1.1 200 OK
< Content-Language: en-US
< Transfer-Encoding: chunked
< Date: Mon, 17 Oct 2022 18:53:49 GMT
```


Test HEAD responses:
```
HTTP/1.1 200 OK
< Content-Language: en-US
Content-Language: en-US
< Date: Mon, 17 Oct 2022 18:52:07 GMT
Date: Mon, 17 Oct 2022 18:52:07 GMT
```

Challenge/clarification -  does payload header have to be in the test?

Challenge has been opened: https://github.com/jakartaee/servlet/issues/472

Challenge is accepted.

Closed as there is no work for this.