jaxrs-2.1  incorrectly using CASE_INSENSITIVE naming strategy

Currently running 18.0.0.2 IBM Liberty.  Features included in server.xml file is as follows:

<featureManager onError="WARN">             
<feature>jaxrs-2.1</feature>            
<feature>jaxb-2.2</feature>                    
<feature>servlet-4.0</feature>   
<feature>jsonb-1.0</feature>       
</featureManager>              

I have a simple POJO class, no JSON annotations.  The expected behavior when application is deployed is to submit the POST method with following payload:

[
 {
   "SKUData": "string1"
 }
]

and that is successful.  However, what is also successful is:

[
 {
   "skudata": "string2"
 }
]

That is, it seemed to treat identifiers as case insensitive. 

So from jaxrs-1.1 to jaxrs-2.0 to jaxrs-2.1 there is a semantic difference with POJO classes.  I do not think this is a good thing nor is this the right behavior. 

Looking at jaxrs-2.1 and JSON-B 1.0, it seems that Liberty is not using the proper default when using JSON-B for naming strategy.  

Naming Strategies
Naming strategy is used to change a default way of constructing property names.
Supported naming strategies are: 
IDENTITY (myMixedCaseProperty)
LOWER_CASE_WITH_DASHES (my-mixed-case-property)
LOWER_CASE_WITH_UNDERSCORES (my_mixed_case_property)
UPPER_CAMEL_CASE (MyMixedCaseProperty)
UPPER_CAMEL_CASE_WITH_SPACES (My Mixed Case Property)
CASE_INSENSITIVE (mYmIxEdCaSePrOpErTy)
Or your custom implementation of JsonbNamingStrategy interface

The default is IDENTITY.  However Liberty seems to be using CASE_INSENSITIVE, which is inconsistent with how JAXRS should be implemented against POJO classes.  And is questionable when it comes to standards?

I have attached zip file with classes and source. 
[SKUCASEjson.zip](https://github.com/OpenLiberty/open-liberty/files/2232608/SKUCASEjson.zip)





Hi @nadiramra, where did you find the information about the default naming strategy being IDENTITY?  I checked the JSON-B spec+javadoc and it does not mandate a default value.

In Liberty, JAX-RS uses Yasson as the JSON-B implementation (which is also the reference implementation) out of the box and does not set any custom properties such as altering the naming strategy. 

I was looking at the JSON-B 1.0 spec, and it states:

3.15 Names and identifiers
According to RFC 7159 Section 7 [1], every Java identifier name can be transformed using identity function into a valid JSON String. Identity function MUST be used for transforming Java identifier names into Strings in JSON document.
For deserialization operations defined in 3.6 section, identity function is used to transform JSON name strings into Java String instances in the resulting map Map<String, Object>.
Naming strategy can be further customized in customization.

and in

4.1.2 javax.json.bind.annotation.JsonbProperty
According to default mapping 3.15, property names are serialized unchanged to JSON document (identity transformation). To provide custom name for given field (or JavaBean property), javax.json.bind.annotation.JsonbProperty may be used. JsonbProperty annotation may be specified on field, getter or setter method.

And if you look at the JAVADOC for javax.json.bind.config.PropertyNamingStrategy, the doc for CASE_INSENSITIVE  has 

 CASE_INSENSITIVE Using this strategy, the serialization will be same as identity.


But that is NOT TRUE.  IT IS MORE THAN identity.  







> And if you look at the JAVADOC for javax.json.bind.config.PropertyNamingStrategy, the doc for CASE_INSENSITIVE has
> CASE_INSENSITIVE Using this strategy, the serialization will be same as identity.
> But that is NOT TRUE. IT IS MORE THAN identity.

I think the key there is that _serialization_ will be the same as identity - i.e. a Java object like:
```
public class MyObject {
    public String getMyWeiRDlyCaSedProp() {...}
}
```
would be serialized to:
```
[ {
  myWeiRDlyCaSedProp : "someValue"
}]
```

The difference is in the _de-serialization_ where `CASE_INSENSITIVE` would allow property names in the JSON to be in any case (i.e. "myweirdlycasedprop", "MYWEIRDLYCASEDPROP", etc., but IDENTITY would not - only "myWeiRDlyCaSedProp" would be used to map to the `getMyWeiRDlyCaSedProp` property.

So in this issue, it sounds like Yasson is using CASE_INSENSITIVE as the default where it probably ought to be using IDENTITY.  The _serialization_ will be the same, but the _de-serialization_ could be different, which is what Nadir is seeing.

There is no probably in this scenario.  IT MUST USE IDENTITY according to the standards. Basically a defect.   ;-)

Hi @nadiramra, I checked the source code for Yasson (the JSON-B impl we use) and it does indeed use `PropertyNamingStrategy.IDENTITY` as the default.  I reproduced the behavior you are seeing in a standalone JavaSE program like this:

```java
String data1 = "[\n" + 
		"{\n" + 
		"\"SKUData\": \"string1\"\n" + 
		"}\n" + 
		"]";
String data2 = "[\n" + 
		"{\n" + 
		"\"skudata\": \"string2\"\n" + 
		"}\n" + 
		"]";

// Tested both ways using default JsonbConfig and also explicitly
// setting IDENTITY strategy (same results either way)
Jsonb jsonb = JsonbProvider.provider().create()
		.withConfig(new JsonbConfig()
		.withPropertyNamingStrategy(PropertyNamingStrategy.IDENTITY))
		.build();
SkuArray[] d = jsonb.fromJson(data1, SkuArray[].class);
for(SkuArray s : d)
	System.out.println("got sku=" + s.getSKUData());
```

As you indicated in the original issue, using either set of data deserializes successfully, but the second data set (`data2`) should not work according to our understanding of IDENTITY strategy.  

It is worth noting that if we create properties that are identical except from case, the binding works properly:
```java
public class SkuArray {
    public String SKUData = "";    
    public String skudata = "";
}
```
Deserializing `data1` and `data2` from above returns the expected output:
```
data1:  SKUData=string1  skudata=
data2:  SKUData=  skudata=string2
```

I see the part in Yasson code where they are doing a case insensitive match regardless of the PropertyNamingStrategy, so we could potentially fix this.  However, it could be a breaking change to existing users, so it would probably need to wait for a 2.0 release of the JSON-B spec.  I'll get an issue/PR opened on Yasson and see what the community will allow us to do.

Hi @aguibert , I disagree that a fix cannot be provided.  The way jaxrs-2.1 works right now does not conform to JSON standard - period.  Current customer most likely used the JSON-B annotations to control property names.   Basically you need to fix how jaxrs-2.1 works to conform with the standards.  I do not understand this response in the context of ensuring a features conforms with the standards.  The currently implementation allows any identifier, independent of case. That is not how JSON works.   And if customers want this behavior, then introduce some sort of property/annotation.  Just my opinion.  



Perhaps a point that was missed is that jaxrs-2.1 uses the reference implementation of JSON-B to do JSON<-->POJO mapping.  The jaxrs-2.1 feature does not deviate in any way from the way JSON-B behaves (which is the standard in question here).

The inconsistency you have identified shows that the JSON-B standard itself is being too lenient.  I agree with you on this, and will try to get it corrected.  However, I cannot guarantee we can get it corrected since more software products use JSON-B than just OpenLiberty.  I'll have an issue opened shortly and then we can continue the discussion on the JSON-B/Yasson issue.

My proposed fix over in Yasson was merged in yesterday, so once Yasson releases a new version I'll go ahead and pick that up in OpenLiberty, hopefully that will be in time for the 18.0.0.4 release.

This issue will be resolved when issue #5412 closes

Closing this issue, the next release of OpenLiberty will include the fix