Define requirements for authorization and authentication

Model Context Protocol defines [requirements for authorization and authentication](https://modelcontextprotocol.io/specification/2025-06-18/basic/authorization) when using HTTP transport.

We need to understand how well these requirements are served by liberty's existing security features, particularly the `oauth-2.0` feature.

We need to produce a list of functional requirements for the MCP feature, as well as documentation requirements so that if there are additional steps to use MCP securely, users are able to complete them.


<img width="723" height="703" alt="Image" src="https://github.com/user-attachments/assets/e782db8e-278f-48fd-a5c4-dc4dd990e060" />

MCP servers MUST implement OAuth 2.0 Protected Resource Metadata

- Resource Metadata must be exposed at `https://<resource-server-host>/.well-known/oauth-resource`
- use the HTTP header `WWW-Authenticate` when returning a `401 Unauthorized` to indicate the location of the resource server metadata URL mentioned above. E.g.
```
HTTP/1.1 401 Unauthorized
WWW-Authenticate: Bearer realm="example", authorization_uri="https://api.example.com/.well-known/oauth-resource"
```
- Resource Metadata should contain at least:
  -   `resource` (Required): The identifier of the protected resource — must match the path in the .well-known URL e.g. https://<resource-server-host> from the example above
  - `authorization_servers` (Recommended): List of trusted OAuth 2.0 authorization server issuer URLs that can issue tokens for this resource
  - `scopes_supported`: Array of valid OAuth 2.0 scopes recognized by the resource server
  - `bearer_methods_supported`: How the token can be presented. In the header is the most secure method
  - `jwks_uri`: URI where clients can fetch the public keys to validate JWTs
  - `resource_documentation`: URL to human-readable developer docs
- Accept OAuth 2.0 Bearer tokens via the Authorization header
- MCP servers MUST validate access tokens before processing the request, ensuring the access token is issued specifically for the MCP server, and take all necessary steps to ensure no data is returned to unauthorized parties, according to [RFC 8707 Section 2](https://www.rfc-editor.org/rfc/rfc8707.html#section-2).
- If validation fails, servers MUST respond according to [OAuth 2.1 Section 5.3](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-v2-1-13#section-5.3) error handling requirements. 
  -   Invalid or expired tokens MUST receive a HTTP 401 response.
  - 403 for a forbidden request. Invalid scopes or insufficient permissions
  - 400 for a bad request. Malformed authorization request

Authorisation server is needed for providing access to tokens to the client. The authorisation can be hosted with with the resource server (our MCP server) or on its own as a separate entity.

- Authorization servers MUST implement OAuth 2.1 
- Authorization servers MUST provide OAuth 2.0 Authorization Server Metadata which details where to send users to log in, where to send requests for tokens, what features the server supports 
- MCP clients and authorization servers SHOULD support the OAuth 2.0 Dynamic Client Registration Protocol [RFC7591](https://datatracker.ietf.org/doc/html/rfc7591) to allow MCP clients to obtain OAuth client IDs without user interaction. This provides a standardized way for clients to automatically register with new authorization servers

Oauth 2.0 feature in Liberty as the authorisation server - https://www.ibm.com/docs/en/cics-ts/6.x?topic=liberty-configuring-oauth-20-authorization.

When including `<feature>oauth-2.0</feature>` in the `server.xml`, Liberty exposes:

-  /authorize - authorisation endpoint where clients can get authorisation code
- /token - where client exchanges code for token
- /introspect - Used by resource servers to validate opaque tokens (i.e. tokens that can’t be verified locally like JWTs)
- /.well-known/openid-configuration - Discovery Metadata
- And handles issuing tokens, scopes, and client registration
- We can also register clients in the server.xml and define scopes.

The only issue is that I don't think it supports Dynamic Client Registration which is required. You can only register clients manually I believe within the server.xml. Therefore we may not be able to use Liberty's native features for an authorisation server.

Can use Liberty's `<feature>openidConnectClient-1.0</feature>` to validate tokens. https://www.ibm.com/docs/en/was-liberty/core?topic=connect-configuring-oauth-20-protected-resources-in-liberty
`<feature>transportSecurity-1.0</feature>` is needed as it lets Liberty accept https
`<feature>appSecurity-3.0</feature>` is needed for allowing the role based annotated like `@RolesAllowed` to work

We need to define the features and roles in our server.xml, then secure our protected resource endpoints with the `@RolesAllowed` for roles, `@PermitAll` for all authenticated users,  or declares roles in the web.xml.

Need to add extra functionality for adding `WWW-Authenticate` headers.

We may potentially be able to use [**IBM Security Verify Access OIDC Provider**](https://docs.verify.ibm.com/ibm-security-verify-access/docs/overview-introduction) as the authorisation server as it can handle:
- Issuing Tokens
- Dynamic Client Registration https://www.ibm.com/docs/en/security-verify?topic=registration-dynamic-client-new-openid-connect-provider

To connect our resource server to the authorisation server, we need to declare it in the `server.xml` within the `<openidConnectClient>` with links to the authorisation server. 

For Dynamic Client Registration, the client just needs to send a post request to the `/request` endpoint of the authorisation server. The client will need to have an initial access token in order to do this. This can be obtained by the admin via the IBM Security Verify admin API or UI dashboard, and given to the client to use in its requests to the authorisation server. Or you can use open registration which allows any client to register freely, but obviously that's less secure.

Adding in some recent updates based on research and slack discussions:

### Basic auth config

> Can use Liberty's <feature>openidConnectClient-1.0</feature> to validate tokens. https://www.ibm.com/docs/en/was-liberty/core?topic=connect-configuring-oauth-20-protected-resources-in-liberty

This is what we want to do. Here's an example config:
```xml
  <openidConnectClient id="mcp-auth" inboundPropagation="required"
        clientId="myMcpServer"
        clientSecret="abc123"
        validationEndpointUrl="https://localhost:9445/oidc/endpoint/SampleProvider/introspect">
        <authFilter>
            <requestUrl urlPattern="/mcp"/>
        </authFilter>
  </openidConnectClient>
```

### Roles

Liberty's OpenID Connect Client feature has two options for mapping users to roles, controlled by the `mapIdentityToRegistryUser` config option:
- Map the authenticated user to a user in the user registry, and then get their groups from the user registry, then map that user and their groups to a set of roles
- Use some of the information from the access token (either from the token itself, or from the introspection endpoint) to establish the groups of the user. I think these groups get automatically mapped to roles.

This mapping is done via an [AttributeToSubject](https://github.com/OpenLiberty/open-liberty/blob/integration/dev/com.ibm.ws.security.openidconnect.clients.common/src/com/ibm/ws/security/openidconnect/clients/common/AttributeToSubject.java) or [AttributeToSubjectExt](https://github.com/OpenLiberty/open-liberty/blob/integration/dev/com.ibm.ws.security.openidconnect.client/src/com/ibm/ws/security/openidconnect/client/internal/AttributeToSubjectExt.java)

Looking at this code, the `groupIdentifier` option can be used to choose which claim from the token introspection is used as the user's groups. The scopes are stored in one of these claims, but it looks like they're space-separated and the code above does not look like it can decode that automatically, but we might be able to apply custom logic here by implementing a `UserCredentialResolver` service.

If we can map the user's scopes to roles, then we can provide a way in the API for the user to require roles for particular tools (probably with `@RequireRoles`) and enforce the role check before calling the tool. We'd also need to filter the result of `tools/list` by which tools the user has access to.

### Metadata

The liberty features don't do protected resource metadata for us. We could have the user manually configure the content in server.xml and serve the metadata ourselves with an autofeature.

The other thing we need to do is add the metadata location to the `WWW-Authenticate` header returned by the OpenID Connect Client feature, and I'm not sure whether there's a point in the request lifecycle that we plug into to do this. Needs more research. It's certainly possible to update the header if we can add a servlet filter before authentication happens.

### Minimal requirements

Here's what we I think we need for various use cases:

- If the client can be convinced to send us a valid access token (e.g. by configuring the access server to return a token valid for both the client and the MCP server, having the user log in to access the client and configuring the client to pass through the token), then configuring the OpenID Client feature as described above should be sufficient to validate the user is authorized to access the server.
- If we can map scopes to roles, we can add the ability to require certain scopes for each tool
- If we can add protected resource metadata, we should be able to connect any compliant MCP client with authentication (VS Code has support for auth, as an example)
  - With an appropriately configured authorization server, I think this would also be sufficient for a client to do an OAuth token exchange to obtain a token for the MCP server.

We revised the scope of security to include the full OAuth login flow using protected resource metadata.