Servlet 6.1: Request Cookie only uses semicolon as cookie pair delimiter

RFC 6265 [section 4.2.1](https://datatracker.ietf.org/doc/html/rfc6265#section-4.2.1) uses only semicolon as cookie pair delimiter (comma is no longer valid)

Request Cookie:
1. Name: NO double quote anywhere; YES Single quote
2. Value: Single and double quotes are allowed
3. Delimiter: NO - Comma; YES - semicolon

===================
Response Set-Cookie:
1. Name: NO double quote anywhere; YES Single quote
2. Value: Single and double quotes are allowed
3. Delimiter: NO - Comma; YES - semicolon
4. Comma is allowed inside the Expires attribute