Review action for request with header X-Forwarded-Proto with multiple values.

According to the [RFC 7239](https://www.rfc-editor.org/rfc/rfc7239#section-5.4), section 5.4:

```
The "proto" parameter has the value of the used protocol type.  The
   syntax of a "proto" value, after potential quoted-string unescaping,
   MUST conform to the URI scheme name as defined in Section 3.1 in
   [RFC3986] and registered with IANA according to [[RFC4395](https://www.rfc-editor.org/rfc/rfc4395)].  Typical
   values are "http" or "https".
```

Values are "http" or "https"

Some proxy servers can send in multiple values with comma separator like "**X-Forwarded-Proto: https,http,https**".  This can cause problem during the reconstruction of a response (via request `getScheme()` )

**_To be evaluated:_**
Since this is one of the sensitive header, a 400 Bad Request should return if the values are invalid.
(simply ignoring just this header can have a security risk).